.header, .hero, .body , .bar, .footer{
	margin-bottom: 10px;
	background-color: #E9C6A0;
}
.box{
	margin: 10px 0;
	min-height: 80px;
    background-color:orange;
    font-size: 30px;
    color: white;
}
.red{
	background-color: #805C20;
}
.five{
	background-color: #1E8DD5;
}